body {
    background-color: #f1f8f6; /* Fondo suave */
    color: #333333; /* Texto oscuro para mayor legibilidad */
    font-family: 'Arial', sans-serif; /* Fuente principal */
    font-size: 16px; /* Tamaño base */
    margin-bottom: 60px;
}

.navbar {
    background-color: #00796b; /* Verde más suave para la barra de navegación */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para la navbar */
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

.navbar-nav .nav-link:hover {
    background-color: #004d40; /* Cambia el fondo al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados para los enlaces */
}

.logo {
    height: auto;
    width: auto;
}

h1 {
    color: #212529; /* Negro para el título */
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
}

.card {
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para las tarjetas */
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px; /* Bordes redondeados para las tarjetas */
}

.card:hover {
    transform: translateY(-5px); /* Desplaza las tarjetas hacia arriba */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #00796b;
    font-size: 22px;
}

.card-body p {
    color: #212529;
    font-size: 16px;
    font-weight: bold;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    color: #ffffff;
    font-size: 32px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #004d40;
}

footer {
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 16px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.quienes-somos, .presupuestos, .contacto {
    background-color: #ffffff;
    padding: 40px 20px;
    margin-top: 30px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
}

.quienes-somos h2, .presupuestos h2, .contacto h1 {
    color: #00796b;
    font-size: 26px;
    margin-bottom: 20px;
}

.quienes-somos p, .presupuestos p, .contacto p {
    color: #212529;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.presupuestos .contact-info a {
    color: #00796b;
    text-decoration: none;
    margin: 0 10px;
}

.presupuestos .contact-info a:hover {
    text-decoration: underline;
}

.contacto a {
    color: black;
    text-decoration: none;
}

.contacto a:hover {
    text-decoration: underline;
}

.Nuestros-clientes {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.Nuestros-clientes .col::before {
    content: '\2192';
    position: absolute;
    left: 0;
    color: #00796b;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}
